$vjsg-gutter: 10px !default;

.gallery {
  overflow: hidden;
}

.gallery__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -($vjsg-gutter);
}

.gallery__item {
  display: flex;
  flex: 0 0 auto;
  padding: $vjsg-gutter;
}

.gallery__content {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@for $i from 1 through 24 {
  [data-gallery-items='#{$i}'] {
    .gallery__item {
      width: (100% / $i);
    }
  }
}
