* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.gallery {
  overflow: hidden;
}

.gallery__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -10px;
}

.gallery__item {
  display: flex;
  flex: 0 0 auto;
  padding: 10px;
}

.gallery__content {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@for $i from 1 through 24 {
  [data-gallery-items='#{$i}'] {
    .gallery__item {
      width: (100% / $i);
    }
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  font-size: 1em;
}
